
.size {
  width: 1168px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 160px;
  margin-bottom: 40px;

  background-color: var(--background);
}

.header__container-logo {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.header__container-logo img {
  width: 40px;
  margin-right: 8px;
}

.header__container-right {
  display: flex;
}

.header__container-right input {
  margin-right: 64px;
}

.btn-theme {
  cursor: pointer;
}

.btn-theme:hover {
  opacity: 0.9;
}

.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;

  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}

.input {
  all: unset;
  box-sizing: border-box;

  width: 300px;
  height: 48px;
  padding: 16px;

  border: 1px solid var(--input-color);
  color: var(--text-color);
}

.input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;

  color: var(--input-color);
}

.container-movie{ 
  display: flex;
  justify-content: center;
  height: 296px;
  width: 1296px;
  
}
.container-movie .arrow-left{ 
  padding-right: 20px;
  cursor: pointer;
}

.childrem-carrosel{
  display: flex;

 
  align-items: center;
  justify-content: space-evenly;

  height: 296px;
  width: 1168px;
  background-color: #EDEDED;

}

.movie { 
  display: flex;
  align-items: end;
  height: 270px;
  width: 170px;
  cursor: pointer;
  background-size: cover;
  
}


.movie .footer-movie{
 display: flex;
 align-items: center;
 justify-content: space-between;

height: 30px;
width: 170px;
background-color:rgba(0,0,0,0.6);

}


.continer-title{
display: flex;
justify-content: center;
align-items: center;
position: relative;
left: 7px;
  width: 100px;
  height: 20px;

}
.footer-movie .title-movie{ 
position: relative;
  
  font-size: 10px;
  color: white;
}
.footer-movie img { 
  position: relative;
  left: 20px;

}
.footer-movie .nota { 
  position: relative;
  top: 2px;
  right: 30px;
  font-size: 12px;
  color: white;
}
.arrow-right{ 
  padding-left: 20px;
  cursor: pointer;
}

.movie-day { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 346px;
  width: 1160px;
  
  background-color:  #EDEDED;
}

.movie-day .video-container{ 

  width: 40%;
  height: 85%;
  background-color: white;
}

#div-video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-size: cover;
}

#div-video img { 
  height: 50px
  ;
}


.movie-day .text-container { 
  width: 55%;
 height: 90%;


}

.movie-day .text-container { 

 width: 55%;
 height: 90%;


}

.text-container .text-container-title { 
  text-align: left;
  padding-top: 0px;
  padding-left: 5px;
  margin-left: 15px;
  margin-top: 15px;
  height: 30px;
  width: 400px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Roboto';
  color: #1B2028;





}

.text-container-subtitle{ 
  
  text-align: left;
  padding-top: 0px;
  padding-left: 5px;
  margin-left: 15px;
  margin-top: 15px;
  height: 30px;
  width: 400px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Roboto';
  color: #1B2028;
 
}


.text-container-p{ 

  text-align: left;
 
  padding-left: 5px;
  margin-top: 150px;
  margin-left: 15px;
  margin-top: 15px;
  height: 150px;
  width: 400px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto';
  color: #1B2028;
  

}

.text-container-nota-two{ 
display: flex;
justify-content: center;
align-items: center;
position: relative;
  left: 90%;
  bottom: 80%;
  
  height: 50px;
  width: 50px;
  font-size: 24px;
  color: #F1C40F; 
  

}

.background-modal{
 
  position: fixed;

  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2 ;
  z-index: 15;
}
.modal{ 
display: flex;
flex-direction: column;
align-items: center;
  position: fixed;
 height: 650px;
 width: 700px;
 margin-top: 25px;
 z-index: 300;

  background-color: #EDEDED;
}

.divImg{

height: 300px;
width: 650px;
margin-top: 60px;
background-color: red ;

}

.modaltitle{
  display: flex;
  justify-content: center;
  align-items: center;
position: relative;

top: 20px;

height: 50px;
width: 700px; 
font-size: 30px;
font-weight: bold;
font-family: 'roboto';

}

.modalpara{

  height: 150px;
  width: 650px;
  margin-top: 30px;
  
font-size: 17px;

font-family: 'roboto';

}



.modalExtras{
  display: flex;
  
  width: 100%;
  height: 50px;
 
}
.modaldeGenero{

display: flex;

justify-content: space-around;
align-items: center;
  width: 500px;
  height: 50px;


}



.genres {
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  background-color: #FE0078;
}


.modalNota{
  display: flex;
  justify-content: center;
  align-items: center;
margin-left: 130px;
width: 50px;
height: 50px;
font-size: 20px;
border-radius: 15px;
color:white;
background-color:#F1C40F;


}

.imgex{
position: relative;
bottom: 590px;
left: 310px;

height: 40px;
cursor: pointer;
background-color: black;
color: red;

}